.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
}

.filter-box {
  margin-bottom: 20px;
}

select {
  padding: 8px;
  margin-left: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 260px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.electronics {
  background: #2563eb;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
}

.clothing {
  background: #93c5fd;
  color: black;
  padding: 4px 10px;
  border-radius: 20px;
}
